<!DOCTYPE html>
<html>
        {{>header}}
        <p>Use this site to get your weather!</p>
        <form class="weather-form">
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
    </div>
    <script src="/js/script.js"></script>
    {{>footer}}
</body>
</html>